body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

body::before{
    content: '';
    background-color: rgba(1, 1, 0, 0.501);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#logo{
    width: 120px;
    height: 40px;
}

.menu{
    width: 280px;
    height: 50px;
    margin-right: 0%;
    position: relative;
    top: -42px;
    left: 683px;
}

.header{
    padding: 3px 5px;
    position: relative;
    background-color: black;
    color: #fff;
    height: 56px;
}

.header li{
    display: inline-block;
    padding: 8px 10px;
}

.header ul{
    margin-top: 3px;
}

.form_body{
    position: relative;
    z-index: 90;
    max-width: 450px;
    height: 750px;
    margin-left: 50%;
    margin-top: 15%;
    transform: translateX(-50%) translateY(-50px);
    padding: 70px;
    background-color: rgba(51, 51, 51, 0.713);
    border-radius: 50px;
    bottom: 50px;
}


.form h2{
    font-size: 25px;
    color:  #fff;
    margin-top: 0;
    text-align: center;
    margin-bottom: 30px;
}

.form input{
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
}

.form input:hover{
    background-color: rgb(70, 63, 63);
}

.input_box{
    margin-bottom: 15px;
}

.form button{
    height: 50px;
    width: 80%;
    margin-left: 10%;
    color: #fff;
    background-color: rgb(223, 151, 17);
    border-radius: 150px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 15px;
}

.form button:hover{
    background-color: rgb(255, 183, 3);
    cursor: pointer;
}