body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

body::before{
    content: '';
    background-color: rgba(1, 1, 0, 0.501);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo img{
    height: 45px;
    width: 167px;
}

.header{
    padding:3px 5px;
    position: relative;
}

.login_body{
    padding: 60px;
    z-index: 90;
    position: absolute;
    max-width: 450px;
    height: 390px;
    margin-left: 50%;
    margin-top: 10%;
    background-color: rgba(51, 51, 51, 0.713);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%) translateY(-10%);
}

.login_body h2{
    font-size: 32px;
    color:  #fff;
    margin-top: 0;
}

.login_body input{
    height: 50px;
    width: 100%;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login_body input:hover{
    background-color: rgb(70, 63, 63);
}

.input_box{
    margin-bottom: 15px;
}

.login_body button{
    height: 50px;
    width: 80%;
    margin-left: 10%;
    color: #fff;
    background-color: rgb(223, 151, 17);
    border-radius: 150px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login_body button:hover{
    background-color: rgb(255, 183, 3);
    cursor: pointer;
}

.suport{
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.suport input{
    width: 15px;
    height: 15px;
}
